@import "./bootstrap/scss/bootstrap";

.btn-outline-primary {
    @include button-outline-variant(#ffffff, lighten($body-bg-dark, 7.5%), #ffffff, #ffffff);
};

.period-tab {
    color: #ffffff;
    &:hover {
        color: #ffffff;
    }
};

.category-nav {
    color: darken(#ffffff, 20%);
    &:hover {
        color: #ffffff;
    }
};

#period-tabs > .nav-item > .nav-link.active {
    background-color: lighten($body-bg-dark, 20%)
}

.bg-footer {
    background-color: lighten($body-bg-dark, 5%);
};

h1, h5.card-title, .card-text, .currently-open {
    text-align: center;
};

p {
    font-family: 'Carlito', sans-serif;
    text-align: center;
};

#about-text > p, p.open-hours {
    font-size: 1.2rem;
};

#body {
    margin-bottom: 125px;
};
