body {
    padding-bottom: 60px;
}
p {
    font-family: 'Carlito', sans-serif;
}
p.basic-text {
    font-size: 20px;
}
.nav-link {
    color: #FFFFFF;
}
.nav-link:hover {
    color: #FFFFFF;
}
.nav-link.active {
    color: #FFFFFF;
    background-color: #2F3136;
}
.bg-footer {
    background-color: #2F3136;
}