{% extends 'docmtu/base.html' %}
{% load static %}

{% block nav_index %}active{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-sm-center mt-2">
            <div class="col-sm-auto">
                <h1>Testing</h1>
                <button hx-post="{% url 'docmtu:test' %} " hx-trigger="click" hx-target="#test" hx-swap="outerHTML" disabled>Test</button>
                <p id="test">DONT CLICK THE BUTTON</p>
            </div>
        </div>
        <div class="row justify-content-sm-center mt-2">
            <div class="col-sm-auto">
                <div class="dropdown">
                    <button id="dropdown-main" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Select a location
                    </button>
                    <ul class="dropdown-menu">
                        {% for location in locations %}
                            <li><button class="dropdown-item" id="location-{{ location.location_id }}" hx-post="{% url 'docmtu:location' %}" hx-target="#location-content" hx-swap="innerHTML">
                                {{ location.name }}
                            </button></li>
                        {% empty %}
                            <li><a class="dropdown-item">No locations found</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="dropdown">
                    <button id="date-dropdown-main" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="display: none;">
                        Today
                    </button>
                    <ul class="dropdown-menu">
                        {% for date in dates %}
                            <li>
                                <button class="dropdown-item date-dropdown-item" id="date-{{ date.id }}" hx-post="{% url 'docmtu:date' %}" hx-target="#location-content" hx-swap="innerHTML">
                                    {{ date.str }}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="location-content"></div>
    </div>
{% endblock content %}

{% block script %}
    <script>
        document.body.addEventListener("updateInfo", function(){
            let info = document.getElementById("menuData")
            let loc = info.getAttribute("location_id");
            for (let i = 0; i < document.getElementsByClassName("date-dropdown-item").length; i++) {
                let id = document.getElementsByClassName("date-dropdown-item")[i].id;
                if (id.slice(0, 9) === "location-") {
                    id = id.slice(id.indexOf("date-"))
                }
                document.getElementsByClassName("date-dropdown-item")[i].id = "location-" + loc + "-" + id;
            }
            document.getElementById("dropdown-main").innerHTML = info.getAttribute("location_name");
            document.getElementById("date-dropdown-main").innerHTML = info.getAttribute("date_str");
            document.getElementById("date-dropdown-main").style.display = "block";
        });
    </script>
{% endblock %}