<input type="hidden" id="menuData" location_id="{{ location.location_id }}" location_name="{{ location.name }}" date_id="{{ date.id }}" date_str="{{ date.str }}">
<div class="row justify-content-sm-center mt-2">
    <h1>{{ location.name }}</h1>
    {% if empty %}
        <div class="alert alert-warning">
            No menus available for this location.
        </div>
    {% else %}
        <ol class="nav nav-tabs" id="period-tabs" role="tablist">
            {% for period in menu.periods %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if forloop.first %} active{% endif %}" id="periodtab-{{ period.id }}" data-bs-target="#period-{{ period.id }}" data-bs-toggle="tab" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ period.name }}</button>
                </li>
            {% endfor %}
        </ol>
        <div class="tab-content">
            {% for period in menu.periods %}
                <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="period-{{ period.id }}" role="tabpanel" tabindex="0">
                    {% for category in period.categories %}
                        {% if forloop.counter|add:"-1"|divisibleby:4 or forloop.first%}
                            <div class="row justify-content-sm-center mt-4">
                        {% endif %}
                        <div class="col-sm-3">
                            <h2 class="mt-3 mb-2">{{ category.name }}</h2>
                            {% for item in category.items %}
                                <div>
                                    <p class="align-left"><span class="item-name">{{ item.name }}</span><br>
                                        {{ item.portion }}<br>
                                        {{ item.calories }} cal.
                                    </p>
                                </div>
                                <hr>
                            {% endfor %}
                        </div>
                        {% if forloop.counter|divisibleby:4 or forloop.last%}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>