<input type="hidden" id="menuData" location_id="{{ location.location_id }}" location_name="{{ location.name }}" date_id="{{ date.id }}" date_str="{{ date.str }}">
<div class="row justify-content-sm-center mt-2">
    <h1 class="mt-3">{{ location.name }}</h1>
    {% if not menu.closed %}
        <p class="open-hours"><i class="bi-clock"></i> Open {{ menu.opening_time }} - {{ menu.closing_time }}</p>
    {% else %}
        <p class="open-hours"><i class="bi-clock-fill"></i> Closed</p>
    {% endif %}
    {% if menu.today %}
    <div class="col-sm-2">
        <div class="alert {% if menu.is_open %}alert-info{% else %}alert-danger{% endif %} currently-open" role="alert">
            {% if menu.is_open %}
                <i class="bi-check-circle-fill"></i> Open
            {% else %}
                <i class="bi-x-circle-fill"></i> Closed
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% if empty %}
        <div class="alert alert-warning">
            No menus available for this date & location.
        </div>
    {% elif menu.closed %}
        <div class="alert alert-warning">
            This location is closed for this date.
        </div>
    {% else %}
        <ol class="nav nav-tabs" id="period-tabs" role="tablist">
            {% for period in menu.periods %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link{% if forloop.first %} active{% endif %} period-tab" id="periodtab-{{ period.id }}" data-bs-target="#period-{{ period.id }}" data-bs-toggle="tab" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ period.name }}</button>
                </li>
            {% endfor %}
        </ol>
        <div class="tab-content">
            {% for period in menu.periods %}
                <div class="tab-pane fade{% if forloop.first %} show active{% endif %}" id="period-{{ period.id }}" role="tabpanel" tabindex="0">
                    <div class="row justify-content-sm-center">
                        <div class="col-sm-12">
                            <div class="card mt-3">
                                <nav id="category-nav-{{ period.id }}" class="align-items-stretch">
                                    <nav class="nav nav-pills">
                                        {% for category in period.categories %}
                                            <a class="nav-link category-nav show" href="#{{ category.id }}">{{ category.name }}</a>
                                        {% endfor %}
                                    </nav>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-sm-center">
                        <div class="col-sm-12">
                            {% for category in period.categories %}
                                <!-- TODO: Make cards stack on top of each other -->
                                {% if forloop.counter|add:"-1"|divisibleby:4 or forloop.first%}
                                    <div class="row justify-content-sm-center mt-4">
                                {% endif %}
                                <div class="col-sm-3">
                                    <div id="{{ category.id }}" class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ category.name }}</h5>
                                            {% for item in category.items %}
                                                <div>
                                                    {% if forloop.first %}<hr>{% endif %}
                                                    <p class="card-text">
                                                        {{ item.name }}<br>
                                                        {{ item.portion }}<br>
                                                        {{ item.calories }} cal.
                                                    </p>
                                                </div>
                                                {% if not forloop.last %}
                                                    <hr class="mb-2 mt-2">
                                                {% endif %}
                                            {% empty %}
                                                <p class="card-text">
                                                    ¯\_(ツ)_/¯
                                                </p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% if forloop.counter|divisibleby:4 or forloop.last%}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>